

.jumbotron {
  background-image: url(https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D2800%252C1680%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C960%26image_uri%3Dhttp%253A%252F%252Fo.aolcdn.com%252Fhss%252Fstorage%252Fmidas%252Fec099838a88c189b8e19a4bb6e884708%252F205944339%252Ftheater-hall-with-red-seat-and-wide-blank-white-screen-picture-id665294144%26client%3Da1acac3e1b3290917d92%26signature%3Dde8e1e9cc228854ed73f16bfaca4863d2cfbc0e6&client=amp-blogside-v2&signature=fc8e6decbc764bdc6e061a8c9653fefaa6e73ce4);
  background-size: cover;
}
body {
  background: black;
}

p {
  color: white;
  font-size: 30px;
}

.jumbotron h1 {
  text-align: center;
}

.jumbotron p {
  color: red;
  text-align: center;
}

.card {
  width: 50%;
}
.card-img-top {
  width: 200x;
  height: 200px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
