body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: black;
  box-sizing: border-box;
}

.column {
  flex: 25%;
}

#container2 {
  margin-left: 10px;
}

#container3 {
  margin-left: 10px;
}

#container4 {
  margin-left: 10px;
}
#container5 {
  margin-left: 10px;
}


.jumbotron {
  background-image: url(https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D2800%252C1680%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C960%26image_uri%3Dhttp%253A%252F%252Fo.aolcdn.com%252Fhss%252Fstorage%252Fmidas%252Fec099838a88c189b8e19a4bb6e884708%252F205944339%252Ftheater-hall-with-red-seat-and-wide-blank-white-screen-picture-id665294144%26client%3Da1acac3e1b3290917d92%26signature%3Dde8e1e9cc228854ed73f16bfaca4863d2cfbc0e6&client=amp-blogside-v2&signature=fc8e6decbc764bdc6e061a8c9653fefaa6e73ce4);
  background-size: cover;
}

p {
  color: white;
  font-size: 30px;
}

.jumbotron h1 {
  text-align: center;
}

.jumbotron p {
  color: red;
  text-align: center;
  font-size: 40px;
}

#movieTitle {
  color: white;
margin-top: 100px;
  font-size: 50px;
}
.card {
  width: 50%;
}

.card-img-top {
  width: 100%;
  height: 100%;
}

#keyboard {
 margin-top: 25px;
}

#newGame {
  margin-top: 25px;
}

#main-heading {
  margin-top: 60px;
}

#totals {
  margin-top: 60px;
}


@media (max-width: 576px) {

  .body{
    box-sizing: border-box;
  }

  .column {
    flex: 10% !important;
  }

  #main-heading {
    font-size: 75%;
  }

  #totals {
    font-size: 75%;
  }

  #movieTitle {
    color: white;
    font-size: 75%;
  }

  #newGame {
    font-size: 50%;
  }
  .card {
    width: 100%;
    
  }

  .card-img-top{
    width: 100%;
    height: 100px;
  }

  #keyboard {
    size: 50%;
  }

}

@media (min-width: 768px) { 

  .jumbotron {
    background-image: url(https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D2800%252C1680%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C960%26image_uri%3Dhttp%253A%252F%252Fo.aolcdn.com%252Fhss%252Fstorage%252Fmidas%252Fec099838a88c189b8e19a4bb6e884708%252F205944339%252Ftheater-hall-with-red-seat-and-wide-blank-white-screen-picture-id665294144%26client%3Da1acac3e1b3290917d92%26signature%3Dde8e1e9cc228854ed73f16bfaca4863d2cfbc0e6&client=amp-blogside-v2&signature=fc8e6decbc764bdc6e061a8c9653fefaa6e73ce4);
    background-size: cover;
  }

  body {
    background: black;
  }

  #totals {
    font-size: 85%
  }
  
  #movieTitle {
    color: white;
    font-size: 25px;
  }

  #newGame {
    font-size: 85%;
  }
  
  .jumbotron p {
    color: red;
    text-align: center;
    font-size: 40px;
  }
  
  .card {
    width: 80%;
    margin: 10px;
  }

  .card-img-top {
    height: 175px;
  }
 
  h1 {
    font-size: 25px;
      }
 
 }


@media (min-width: 992px) { 
 


   }

@media (min-width: 1200px) { 

    body {background-size: 100%
    }
  }

